.forgot-form {
  background: #F8F1F1;
  padding: 40px 80px;
  width: 50%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.forgot-info h1 {
  font-size: 28px;
}

.forgot-info p {
  margin: 20px 0px;
  text-align: center;
  font-size: 20px;
}

