@import url(https://fonts.googleapis.com/css?family=Comfortaa:300);

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.form {
    position: absolute;
    z-index: 1;
    background: #F8F1F1;
    width: 1315px;
    height: 679px;
    padding: 45px;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    font-size: 40px;
}

.form button.prof {
    font-family: "Comfortaa", sans-serif;
    outline: 0;
    width: 869px;
    height: 100px;
    margin: 0 200px 0;
    border: 0;
    border-radius: 15px;
    padding: 15px;
    color: #818181;
    font-size: 20px;
    -webkit-transition: all 1 ease;
    transition: all 1 ease;
    cursor: pointer;
    background-color: #C4C4C4;
    margin-top: 100px; 
}
.form button.prof:hover,.form button.prof:active,.form button.prof:focus {
    background: #afafaf;
}

.form button.aluno {
    font-family: "Comfortaa", sans-serif;
    outline: 0;
    width: 869px;
    height: 100px;
    margin: 0 200px 0;
    border: 0;
    border-radius: 15px;
    padding: 15px;
    color: #818181;
    font-size: 20px;
    -webkit-transition: all 1 ease;
    transition: all 1 ease;
    cursor: pointer;
    background-color: #C4C4C4;
    margin-top: 80px;
}
.form button.aluno:hover,.form button.aluno:active,.form button.aluno:focus {
    background: #afafaf;
}
