.home-form {
    width: 80%;
    padding: 20px 5px;
    height: 400px;
    background: #F8F1F1;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content-form {
    flex: 3;
}

.initial-image {
    max-width: 30%;
}

h1 {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    font-size: 18px;
}

.btn-select {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 15px;
    color: #818181;
    font-size: 20px;
    cursor: pointer;
    background-color: #C4C4C4;
    margin-top: 30px; 
}