.login-form {
  width: 50%;
  background: #F8F1F1;
  padding: 40px 80px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forgot-password-link {
  margin-top: 10px;
  align-self: flex-end;
  color: red;
}

