
.navbar {
    width: 100%;
    height: 100px;
    background: #2EB5E0;
    display: flex;
    align-items: center;
    padding: 0 80px;
    justify-content: space-between;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.logo-container {
    display: flex;
    align-items: center;
    height: 80%;
}

.logo-container label {
    margin-left: 10px;
    color: #000;
    font-weight: bold;
    font-size: 28px;
}


.logo-container img {
    height: 100%;
}
