.recovery-password-form {
  width: 50%;
  background: #f8f1f1;
  padding: 40px 80px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
