.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px 20px;
  align-items: center;
  justify-content: space-between;
  background: #f4f3f3;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

.info-container label {
  font-size: 26px;
}

.sidebar button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.sidebar ul {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar ul li {
  font-size: 26px;
  color: #000;
}
